<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clock time</title>
</head>
<body bgcolor="cyan">
    <center>

        <h2>THE CLOCK HAS SHOWN BELOW <BR>
            <br>
            00:00:00
    
        </h2>
        
        <br>
        <FOrm action="cou">
            <input type="submit" name="sub" value="START">
        </FOrm>
        
    </center>
    
    
    
</body>
</html>
